@using TableauRestAPI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" onclick="myFunction()" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            @Html.Partial("_LoginPartial")
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tableauIntegration")
}

    <!-- js -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <!--scirpt-->
<script>


        function storetolocalstorage(res) {
            var myStorage = window.localStorage;
            myStorage.setItem('Token', res.credentials.token);
            myStorage.setItem('Site', JSON.stringify(res.credentials.site.id));
            myStorage.setItem('User', JSON.stringify(res.credentials.user.id));
            
        }

        function storetoCookie(res) {
            //document.cookie = "Token = " + res.credentials.token;
                docCookies.setItem("Token", res.credentials.token, 1800, "/", "localhost", null);
        }

        function PostJQAjax(dataS) {
            // AJAX code to submit form.
            $.ajax({
                method: "POST",
                headers: {
                    "Cache-Control": "no-cache",
                    "Content-Type": "application/json; charset=utf-8",
                    Accept: "application/json; charset=utf-8"
                },
                url: "http://localhost:3482/api/TableauSignIn",
                data: JSON.stringify(dataS),                
                success: function (res) {
                    alert("success");                    
                    storetolocalstorage(res);
                    storetoCookie(res);                   

                    console.log('Token : ' + res.credentials.token);
                    console.log('Site : ' + JSON.stringify(res.credentials.site));
                    console.log('User : ' + JSON.stringify(res.credentials.user));
                    console.log(myStorage.getItem('Token'));
                },
                error: function (res) {
                    alert("error");
                }
            });
        }

        function myFunction() {
            var user = document.getElementById("Email").value;
            var pw = document.getElementById("Password").value;
            //var site = document.getElementById("site").value;

            var dataS = {
                            "credentials":
                                {
                                    "name": user,
                                    "password": pw,
                                    //"site": { "contentUrl": site }
                                    "site": { "contentUrl": "" }
                                }
            };

            PostJQAjax(dataS);
        }
</script>